@import url('https://fonts.googleapis.com/css?family=Poppins:700,900');

* {
    box-sizing: border-box;
}

.box {
    color: whitesmoke;
    font-size: 1.2rem;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.box p{
    line-height: 0.8;
}

.box1 { background:#f1c40f;}
.box2 { background:#e67e22;}
.box3 { background:#2ed573;}
.box4 { background:#2ed573;}
.box5 { background:#2ed573;}
.box6 { background:#2ed573;}
.box7 { background:#2ed573;}

.box21 { background:#f1c40f;}
.box22 { background:#e67e22;}
.box23 { background:#2ed573;}
.box24 { background:#2ed573;}
.box25 { background:#2ed573;}
.box26 { background:#2ed573;}
.box27 { background:#2ed573;}

/* .box21 { background:#f1c40f;}
.box22 { background:#e67e22;}
.box23 { background:#2ed573;}
.box24 { background:#1e90ff;}
.box25 { background:red;}
.box26 { background:#18dcff;}
.box27 { background:violet;} */

body {
    margin:0;
    font-family: 'Poppins', sans-serif;
    padding: 1vh 4vw;
    background:#748CAB;
}

#bttnboard, #bttnboard2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.ripple:disabled{
    opacity:0.5;
}
  
/* Button style */
button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    /*padding: 10px;
    height: 300px;*/ /* Should be removed. Only for demonstration */
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
}

.box{
    min-width: 75%;
} 

.box4, .box24{
    font-size: 3rem;
}

.box3, .box23{
    font-size: 3rem;
}